*{
    font-family: 'JetBrains Mono';
    margin: 0px;
    padding: 0px;
}



.fp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}


.main-landing{
    
    height: 65vh;
    width: 95%;
    position: absolute;
    top: 220px;
    align-items: center;
    
    display: flex;
}
.texas-info{
    width: 100%;
    display: inline-block;
   

}

.texas-info-text{
    text-align: center;
    color: white;
    
    
    margin-top: 40vh;
    h1{
        font-size: 75px;
        font-weight: bolder;
    }
    p{
        font-size: 34px;
        font-weight: bold;
      
    }
}
